/*
*   CSS Stylesheet
*/


html, body {
    margin: auto;
    overflow-x: hidden;
    width: 100%;
    text-align: center;
    background-color: lightblue;
    font-family: 'Trebuchet MS', sans-serif;
    
}

header {
    padding-top: 1%;
}

header > h1 {
    border: 1px dashed blue;
    padding-bottom:0%;
}

a {
    text-decoration: none;
    color: black;
}

a:hover {
    color: purple;
}

ul, li {
    text-decoration: none;
    list-style: none;
}

li {
    padding-right: 5%;
}

.center-flex {
    display: flex;
    justify-content: center;
    align-items: center;
}

.link-nav {
    display: flex;
    justify-content: center;
    align-items: baseline;
    padding-bottom: 2%;
}

/* Game Area Styles */

#game-background {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: 700px;
    background-color: aquamarine;

}

#game-area {
    width: 100%;
    position: absolute;
    background-color: aliceblue;
}

#guess-card-area {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1% 1%;
}

/* Card Styles */
.zener-card {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 150px;
    height: 250px;
    padding: 5% 5%;
    background-color: white;
    border: 1px solid darkgray;
}

.zener-symbol {
    width: 125px;
    height: 125px;
}

#hidden-card {
    width: 175px;
    height: 175px;
}