/*
*   CSS Stylesheet
*/


html, body {
    margin: auto;
    overflow-x: hidden;
    width: 100%;
    text-align: center;
    background-color: lightblue;
    font-family: 'Trebuchet MS', sans-serif;
    
}

header {
    padding-top: 1%;
}

header > h1 {
    border: 1px dashed blue;
    padding-bottom:0%;
}

a {
    text-decoration: none;
    color: black;
}

ul, li {
    text-decoration: none;
    list-style: none;
}

.center-flex {
    display: flex;
    justify-content: center;
    align-items: center;
}

.link-nav {
    display: flex;
    justify-content: center;
    align-items: baseline;
}

/* Game Area Styles */

#game-background {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: 700px;
    background-color: aquamarine;

}

#game-area {
    width: 95%;
    position: absolute;
    background-color: aliceblue;
}

.zener-card {
    background-color: whitesmoke;
    border: 1px solid darkgray;
}